# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Django project settings
*.env
*.sqlite3

# Static files
/staticfiles/

# Media files
/media/

# Virtual environment
venv/