{% extends "polls/base.html" %}
<div class="container mt-5">
  {% block content %}
    <h1 class="mb-4">Create a new question</h1>
    <form method="post" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="mb-3">{{ form.as_p }}</div>
      <h2 class="mb-4">Choices</h2>
      {{ choices.management_form }}
      <div class="mb-3">
        {% for choice in choices %}<div class="form-group">{{ choice.as_p }}</div>{% endfor %}
      </div>
      <button class="btn btn-primary" type="submit">Save question</button>
    </form>
  {% endblock content %}
</div>
