{% load static %}
<link rel="stylesheet" href={% static 'polls/style.css' %}>
<ul>
  {% if latest_question_list %}
    {% for question in latest_question_list %}
      <li>
        <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
        <a class="delete-button"
           type="button"
           href="{% url 'polls:delete' question.id %}"
           method="post">
          <svg xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               viewBox="0 0 24 24">
            <path d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z" />
          </svg>
        </a>
      </li>
    {% endfor %}
  {% else %}
    <p>No polls are available.</p>
  {% endif %}
  <a class="create-button" type="button" href={% url "polls:create" %}>Create a Question</a>
</ul>
